.input-block {
  &:not(:first-child) {
    margin-top: 20px;
  }

  label {
    color: $gray;
    font-size: 14px;
    font-weight: bold;
    display: block;
  }

  input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: $black;
    border: 0;
    border-bottom: 1px solid $grayish-purple;
  }
}
