#app {
  display: flex;
  flex-direction: column;

  section {
    height: 100vh;
  }

  .content {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
  }
}

@media (max-width: 1000px) {
  #app .content {
    flex-direction: column;
    padding: 20px 30px;
    justify-content: flex-start;
  }
}
