@keyframes pulsating {
  0% { opacity: 0.0; }
  50% { opacity: 0.2; }
  100% { opacity: 0.0; }
}

@keyframes ring {
  0% { transform: scale(0.4, 0.4); opacity: 0.0; }
  50% { opacity: 0.8;}
  100% { transform: scale(1.1, 1.1); opacity: 0.0; }
}

@keyframes circling {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.loading__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .razar {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 50%;

    .pulse {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $green;
      opacity: 0.25;
      z-index: 5;
    }

    .ringbase {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.0;
      z-index: 10;
    }

    .ring1 {
      box-shadow: 0 0 2px 1px $dark-green, inset 0 0 2px 1px $dark-green;
      animation: ring 2s ease-in-out;
      animation-iteration-count: infinite;
    }

    .ring2 {
      box-shadow: 0 0 1px 0px $light-green, inset 0 0 1px 0px $light-green;
      animation: ring 2s ease-in-out;
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
    }

    .pointer {
      position: absolute;
      width: 100%;
      top: 50%;
      animation: circling 2s linear;
      animation-iteration-count: infinite;
      z-index: 20;

      div {
        width: 49%;
        border-bottom: 2px solid $green;
        opacity: 0.5;
      }
    }

    .dot {
      opacity: 0;
      border: 3px solid $green;
      border-radius: 50%;
      position: absolute;
      animation: blink 2s ease-out;
      animation-iteration-count: infinite;
      z-index: 25;

      &.pos1 {
        left: 18%;
        top: 53%;
      }

      &.pos2 {
        left: 60%;
        top: 20%;
        animation-delay: 0.6s;
      }

      &.pos3 {
        left: 65%;
        top: 70%;
        animation-delay: 1.2s;
      }
    }
  }
}



@media (max-width: 550px) {
  .loading__wrapper {
    .razar {
      width: 75%;
      height: 75%;
    }
  }
}
