aside {
  position: sticky;
  top: 60px;
  width: 320px;
  background: $white;
  box-shadow: 0 0 14px 0 rgba($black, 0.02);
  border-radius: 2px;
  padding: 30px 20px;

  .sidebar-header {
    display: flex;
    justify-content: space-between;

    .sidebar-title {
      font-size: 20px;
      text-align: center;
      display: block;
      color: $black;
    }

    .sidebar-language {
      width: 50px;
      justify-content: space-between;
      align-items: center;

      &.en-selected {
        button:first-child {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      &.pt-selected {
        button:last-child {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;

        &:hover {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  aside {
    width: 100%;
    position: unset;
    top: unset;
  }
}
