@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.dev-item {
  display: flex;
  flex-direction: column;
  background: $white;
  box-shadow:  5px 5px 15px $grayish-blue, -5px -5px 15px $white;
  border-radius: 25px;
  padding: 20px;
  margin: 0 20px;
  min-height: 170px;
  animation: fadein 1.5s;

  header {
    display: flex;
    align-items: flex-start;

    img {
      width: 54px;
      height: 54px;
      border-radius: 50%;
    }

    .user-info {
      margin-left: 10px;

      strong {
        display: block;
        font-size: 16px;
        color: $black;
      }

      .tags {
        display: flex;
        margin: 2px 0;
        flex-wrap: wrap;
      }
    }
  }

  p {
    flex: 1;
    color: $black;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
  }

  .links {
    display: flex;
    margin-top: auto;
  }
}
