* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background:
    radial-gradient($black 15%, transparent 16%) 0 0,
    radial-gradient($black 15%, transparent 16%) 8px 8px;
  background-color: $black-2;

  background-size: 16px 16px;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'IBM Plex Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
